.register-container {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    
    background-color: #383737;
    border-radius: 10px;
    color: white; /* Ensure good contrast for dark background */
  }
  